/* .navbar {
    box-shadow: 2px 2px 5px rgb(209, 202, 202);
    padding-block: .5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
h1 {
    font-size: 4rem;
    text-decoration: solid;
    color: rgb(4, 121, 10);
} */