
       <div>
        <div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-[80%]  max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                            {{creditData[0].name}}'s Risk Profile
                        </h3>
                        <button type="button" (click)="closeModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" >
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    
                    <div>
                        
                        <body class="bg-gray-100 p-8">
                        <div>
                            <p>Name: {{creditData[0].name}} </p>
                            <p>Age: {{creditData[0].age}}</p>
                            <p>Bvn: {{creditData[0].bvn}}</p>
                            <p>Occupation: {{creditData[0].occupation}}</p>
                            <p>Risk Level: {{creditData[0].creditRating}}</p>
                            <p>Number of credit taken: {{creditData.length}}</p>
                        </div>
                      <br>
                      <p class="text-center font-bold mb-2">{{creditData[0].name}}'s Credit History</p>
                        <table class="min-w-full bg-white border border-gray-300">
                            <thead class="sticky top-0 bg-blue-500 text-white text-left">
                              <tr>
                                <th class="py-2 px-4">Assessed date</th>
                                <th class="py-2 px-4">Annual income</th>
                                <th class="py-2 px-4">Loan amount</th>
                                <th class="py-2 px-4">Debt to income ratio</th>
                                <th class="py-2 px-4">No. of delayed payments</th>
                                <th class="py-2 px-4">Credit score</th>
                                <th class="py-2 px-4">Credit rating</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let historyItem of creditData" class="hover:bg-gray-100 transition duration-300">
                                <td class="py-2 px-4">{{ historyItem.assessedDate }}</td>
                                <td class="py-2 px-4">{{ historyItem.annualIncome }}</td>
                                <td class="py-2 px-4">{{ historyItem.loanAmount }}</td>
                                <td class="py-2 px-4">{{ historyItem.debtToIncomeRatio }}</td>
                                <td class="py-2 px-4">{{ historyItem.numberOfDelayedPayment }}</td>
                                <td class="py-2 px-4">{{ historyItem.predictedCreditScore }}</td>
                                <td class="py-2 px-4">{{ historyItem.creditRating }}</td>
                              </tr>
                            </tbody>
                          </table>
                          

                         <!-- <table class="min-w-full bg-white border border-gray-300 ">
                            <thead class="sticky top-0 bg-white">
                              <tr class="text-left">
                                <th>Assessed date</th>
                                <th>Annual income</th>
                                <th>Loan amount</th>
                                <th>Debt to income ratio</th>
                                <th>No. of delayed payments</th>
                                <th>Predicted credit score</th>
                                <th>Credit rating</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let historyItem of creditData ">
                                <td>{{ historyItem.assessedDate }}</td>
                                <td>{{ historyItem.annualIncome }}</td>
                                <td>{{ historyItem.loanAmount }}</td>
                                <td>{{ historyItem.debtToIncomeRatio }}</td>
                                <td>{{ historyItem.numberOfDelayedPayment }}</td>
                                <td>{{ historyItem.predictedCreditScore }}</td>
                                <td>{{ historyItem.creditRating }}</td>
                              </tr>
                            </tbody>
                          </table> -->
                          

                         
                        
                        </body>                    
                

                    </div>
                    
          

                </div>
            </div>
        </div>
       </div>