<!-- 
<div class="">
    <div  class="text-4xl font-semibold py-5">
    <p>
        Take a loan today,
    </p>
    <p>
         pay back tomorrow.
    </p>
    </div>
    <div class="font-medium">
    <p>
        Take control of your finances and expenses
    </p>
    <p>
        and save your way to financial freedom with 
    </p>
    <p>
        smartsave
    </p>
</div>
<div class="pr-8">
<a type="button" routerLink="/create-account" class="bg-green-700 rounded-xl px-2 py-1.5 text-slate-50 font-medium">Get Started</a>
</div>
<img [src]="imagePath" alt="A beautiful landscape">
<div class="bg-green-600 text-slate-50 text-center w-[80%] mx-auto py-16 rounded-lg">
    <p>Come here </p>
    <p>-kBiggs</p>
</div>

</div> -->