<app-nav-bar/>

<!-- <section class="text-stone-900 font-['Poppins'] ">
    <div class="flex flex-col-reverse text-center sm:flex-row sm:mt-24 sm:text-left sm:ml-24">
        <div class="left w-full">
            <p class="text-[45px] font-semibold  leading-[60.99px]">Take a loan today, <br/>Pay back tomorrow.</p>
            <p class="text-xl font-normal leading-[27.10px]">Take Control of Your Finances & Expenses <br/>and Save Your Way to Financial Freedom with <br/>SmartSave.</p>
            <div class="left-2 my-4">
                <button><a routerLink="/create-account" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}" class="bg-green-800 rounded-[20px] text-white text-xl font-medium px-5 py-2 ">Get Started</a></button>
            </div>
        </div>
        <div class="right w-full p-3">
            <img class="w-[504px] h-[336px] mx-auto" src="/assets/LandingPageAssets/money.png" />
        </div>
    </div>
    <div class="py-10 px-8 bg-emerald-200 rounded-xl text-center text-2xl sm:m-9">
        “It is more profitable to be a lender than a spender.” <br> ― Hendrith Vanlon Smith Jr
    </div>
</section> -->

<section class="text-stone-900 font-['Poppins']">
    <div
      class="flex flex-col-reverse text-center sm:flex-row sm:mt-24 sm:text-left sm:ml-24"
    >
      <div class="left w-full">
        <p class="text-[45px] font-semibold leading-[60.99px] mb-3">
          Elevate Your Lending Experience with CRAS.
        </p>
        <p class="text-xl font-normal leading-[27.10px] py-2">
          Embark on a journey of confident lending decisions, mitigate 
          risk, enjoy swift credit decisions and seamless experiences<br />and Create a future of financial success with <br />CRAS.
        </p>
        <div class="left-2 my-4">
          <button>
            <a
              routerLink="/login"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="bg-green-800 rounded-[20px] text-white text-xl font-medium px-5 py-2"
              >Get Started</a
            >
          </button>
        </div>
      </div>
      <div class="right w-full p-3">
        <img
          class="w-[504px] h-[336px] mx-auto"
          src="/assets/LandingPageAssets/money.png" alt="money"
        />
      </div>
    </div>
    <div class="py-10 px-8 bg-emerald-200 rounded-xl text-center text-2xl sm:m-9">
      “Having a good credit score is like having a strong credit passport for your financial journey.”<br />
      ― Sonya Smith-Valentine
    </div>
  </section>
