<header class="navbar">
    <nav class="nav flex p-4 mx-10 items-center flex-col justify-center sm:justify-between sm:flex-row">
        <div class="left font-['Poppins']">
            <a class="font-extrabold text-green-700 text-xl mr-3 sm:text-4xl sm:mr-24 " routerLink="">CRAS</a>
            <a class="text-center text-neutral-900 text-[32px] font-semibold font-['Poppins'] leading-[43.37px] sm:ml-24">Dashboard</a>
        </div>
        <div class="right">
            <button class="bg-green-800 rounded-[20px] text-white text-xl font-medium px-5 py-2 ">Get Started</button>
        </div>
    </nav>
</header>


<section class="text-stone-900 font-['Poppins']  ">
    <div class="w-full flex sm:flex-row">
        <div class="left-level-section w-[75%]  ">
            <p class="text-black text-base font-normal leading-snug sm:ml-14 sm:mt-4">Home / Dashboard</p>
            <div class="items-start inline-flex justify-start sm:ml-12 sm:mt-6 ">

              <div class=" p-2.5 bg-blue-700 bg-opacity-60 rounded-2xl shadow flex-col justify-start items-start inline-flex sm:mr-3 sm:w-[31rem] sm:h-48">
                  <div class="text-stone-50 text-2xl font-semibold leading-8">What is a Credit Score?</div> 
                  <div class="text-stone-50 text-base font-normal leading-snug">Lorem ipsum dolor sit amet consectetur. Donec odio lorem ultricies adipiscing.Lorem ipsum dolor sit amet consectetur. Donec odio lorem ultricies adipiscing.Lorem ipsum dolor sit amet consectetur. Donec odio lorem ultricies adipiscing.
                </div>

              </div>

              <div class=" p-2.5 bg-red-600 bg-opacity-60 rounded-2xl shadow flex-col justify-start items-start inline-flex sm:w-[31rem] sm:h-48">
                  <div class="text-stone-50 text-2xl font-semibold font-['Poppins'] leading-8">What is a Credit Rating?</div>
                  <div class="text-stone-50 text-base font-normal leading-snug">Lorem ipsum dolor sit amet consectetur. Donec odio lorem ultricies adipiscing.Lorem ipsum dolor sit amet consectetur. Donec odio lorem ultricies adipiscing.Lorem ipsum dolor sit amet consectetur. Donec odio lorem ultricies adipiscing.</div>
              </div>
            </div>
        </div>


                 <div class="right-level-section w-[25%]  h-screen ">
                    <div class="w-[18rem]  px-4 py-2 rounded-2xl border-4 border-green-900 flex-col justify-center items-center my-2.5 inline-flex mt-0 ml-5 gap-2.5">
                        <div class="text-black text-base font-medium  leading-snug">Credit Rating Chart</div>
                            <div class="w-[16rem] h-[9.5rem] p-5 bg-green-900 rounded-[20px] shadow flex-col justify-center items-center  flex ">
                                <div class="text-stone-50 text-5xl font-semibold  leading-[65.05px]">A</div>
                                <div class="w-[213px] h-[47px] text-center text-stone-50 text-sm font-normal leading-[18.97px]">This shows a perfect credit score</div>
                            </div>
                        
                            <div class="w-[16rem] h-[9.5rem] p-5 bg-green-500 rounded-[20px] shadow flex-col justify-center items-center  flex">
                                <div class="text-stone-50 text-5xl font-semibold  leading-[65.05px]">B</div>
                                <div class="w-[213px] h-[47px] text-center text-stone-50 text-sm font-normal leading-[18.97px]">This shows a perfect credit score</div>
                            </div>
                            <div class="w-[16rem] h-[9.5rem] p-5  bg-blue-700 bg-opacity-60 rounded-[20px] shadow flex-col justify-center items-center  flex">
                                <div class="text-stone-50 text-5xl font-semibold  leading-[65.05px]">C</div>
                                <div class="w-[213px] h-[47px] text-center text-stone-50 text-sm font-normal  leading-[18.97px]">This shows a perfect credit score</div>
                            </div>
                            <div class="w-[16rem] h-[9.5rem] p-5 bg-red-600  bg-opacity-60 rounded-[20px] shadow flex-col justify-center items-center  flex">
                                <div class="text-stone-50 text-5xl font-semibold  leading-[65.05px]">F</div>
                                <div class="w-[213px] h-[47px] text-center text-stone-50 text-sm font-normal leading-[18.97px]">This shows a perfect credit score</div>
                            </div>
                       
                        
                    </div>
                </div>
    </div>
</section>