
<section class="bg-slate-200 text-stone-900 font-['Poppins']">
  <header class="navbar">
    <nav
      class="nav flex p-4 mx-10 items-center flex-col justify-center sm:justify-between sm:flex-row"
    >
      <div class="left font-['Poppins']">
        <a
          class="font-extrabold text-green-700 text-xl mr-3 sm:text-4xl sm:mr-24"
          routerLink="/bvn-field"
          >CRAS</a
        >
        <a
          class="text-center text-neutral-900 text-[32px] font-semibold font-['Poppins'] leading-[43.37px] sm:ml-24"
          >Dashboard</a
        >
      </div>
      <div class="right"></div>
    </nav>
  </header>
  <div class="w-[60%] mx-auto my-12 p-12 bg-white border rounded-lg shadow">
    <form [formGroup]="bvnForm" (submit)="onSubmit()">
      <div class="mb-4">
        <label for="inputField" class="block text-sm font-medium text-gray-600"
          >Enter Bvn</label
        >
        <input
          type="text"
          id="inputField"
          name="inputField"
          placeholder="Enter your 11 digits BVN"
          formControlName="bvn"
          class="mt-1 p-2 block w-full border rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-300"
          required
        />
      </div>

      <div class="flex space-x-4">
        <button
          type="submit"
          class="w-1/2 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300"
        >
          Check Score
        </button>
        <button
          type="button"
          (click)="openModal()"
          class="w-1/2 px-4 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400 focus:outline-none focus:ring focus:border-blue-300"
        >
          Check Risk Profile
        </button>

        
      </div>
    </form>

        
  </div>
  <app-modal [creditData]="fetchedCreditHistory"></app-modal>

  <div class="">
    <div class="flex justify-around">
      <div
        class="p-2.5 bg-green-700 shadow-md rounded-2xl flex-col justify-start items-start inline-flex sm:mr-3 sm:w-[26rem] sm:h-48"
      >
        <div>
          <img src="../assets/Star.png" alt="star" class="h-12 w-12 mb-6" />
        </div>
        <div class="text-stone-50 text-2xl font-semibold mb-8" id="cardA">
          {{creditScore}}
        </div>
        <div class="text-stone-50 text-2xl font-semibold">Credit Score</div>
      </div>

      <div
        class="p-2.5 bg-orange-600 shadow-md rounded-2xl flex-col justify-start items-start inline-flex sm:w-[28rem] sm:h-48"
      >
        <div>
          <img src="../assets/Exam.png" alt="star" class="h-12 w-12 mb-6" />
        </div>
        <div class="text-stone-50 text-2xl font-semibold mb-8">
          {{creditRating}}
        </div>
        <div class="text-stone-50 text-2xl font-semibold">Risk Profile</div>
      </div>
    </div>

    <div>
      <div class="">
        <div
          class="text-black text-base font-medium leading-snug text-center my-4"
        >
          Credit Rating Chart
        </div>
        <div class="px-4 py-2 flex justify-center items-center ml-5 gap-2.5">
          <div
            class="w-[16rem] h-[9.5rem] p-5 bg-green-900 rounded-[20px] shadow flex-col justify-center items-center flex"
          >
            <div class="text-stone-50 text-5xl font-semibold leading-[65.05px]">
              A
            </div>
            <div
              class="w-[213px] h-[47px] text-center text-stone-50 text-sm font-normal leading-[18.97px]"
            >
              This shows a perfect credit score
            </div>
          </div>

          <div
            class="w-[16rem] h-[9.5rem] p-5 bg-green-500 rounded-[20px] shadow flex-col justify-center items-center flex"
          >
            <div class="text-stone-50 text-5xl font-semibold leading-[65.05px]">
              B
            </div>
            <div
              class="w-[213px] h-[47px] text-center text-stone-50 text-sm font-normal leading-[18.97px]"
            >
              This shows a perfect credit score
            </div>
          </div>
          <div
            class="w-[16rem] h-[9.5rem] p-5 bg-blue-700 bg-opacity-60 rounded-[20px] shadow flex-col justify-center items-center flex"
          >
            <div class="text-stone-50 text-5xl font-semibold leading-[65.05px]">
              C
            </div>
            <div
              class="w-[213px] h-[47px] text-center text-stone-50 text-sm font-normal leading-[18.97px]"
            >
              This shows a perfect credit score
            </div>
          </div>
          <div
            class="w-[16rem] h-[9.5rem] p-5 bg-red-600 bg-opacity-60 rounded-[20px] shadow flex-col justify-center items-center flex"
          >
            <div class="text-stone-50 text-5xl font-semibold leading-[65.05px]">
              F
            </div>
            <div
              class="w-[213px] h-[47px] text-center text-stone-50 text-sm font-normal leading-[18.97px]"
            >
              This shows a perfect credit score
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>