<app-nav-bar/>

<div class="sections-parent">
  <section class="upper-section">
    <div class="get-started">
      <h2 class="eligibility">
        We help you know your eligibility to get a loan <br />and
        <span>BLAH BLAH BLAH</span>
      </h2>
      <button><a routerLink="create-account" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}" class="bg-green-800 rounded-[20px] text-white text-xl font-medium px-5 py-2 ">Get Started</a></button>
    </div>

    <div class="reason-why-container">
      <div class="reason-why">
        <h3>The Why..</h3>
        <p>
          Saving money can be real drag, especially for students who are
          juggling classes, assignments, and a social life. The traditional
          method of saving money is boring and uninspiring, making it hard for
          students to stay motivated and committed to their savings goals. As a
          result, many students end up blowing their money on impulse purchases
          and regrettable decisions, leaving them broke and stressed out. We
          created a fun and gamified student savings platform that will make
          saving money exciting and engaging for students.
        </p>
      </div>
    </div>
  </section>

  <section class="lower-section">
    <h3>The How...</h3>
    <p>
      SmartSave is all about a savings platform that makes saving money exciting
      and engaging for students. By combining innovative gamification
      techniques, social features, and personal finance advice, we have creates
      a platform that empowers students to take control of their finances and
      achieve their dreams without sacrificing their fun and freedom.
    </p>

    <div class="hows-section">
      <div class="save-n-plan">
        <img
          src="../assets/AboutPageAssets/note-add-outline-rounded.png"
          alt="outline rounded"
        />
        <h4>Save and Plan</h4>
        <p>
          With various available savings plans and interest rates you have no
          excuse to save.
        </p>
      </div>

      <div class="track-n-budget">
        <img
          src="../assets/AboutPageAssets/edit-note-rounded.png"
          alt="edit-note"
        />
        <h4>Track and Budget</h4>
        <p>
          Monitoring your cash inflow and outflow now simplified and as
          effective as ever.
        </p>
      </div>
    </div>

    <h3>The Who...</h3>
    <p>Meet the brilliant minds behind SmartSave!</p>

    <div class="profile-container-parent">
      <div class="profile-container">
        <img
          src="../assets/AboutPageAssets/Aluko_img.jpg"
          alt="Person Image"
          class="profile-image"
        />
        <p class="role">Back End Developer</p>
        <h4 class="name">Folarin Aluko</h4>
        <div class="social-media-container">
          <a href="https://github.com/ProminenceFM" target="_blank">
            <img
              src="../assets/AboutPageAssets/git-logo.png"
              alt="git logo"
              class="media-icons"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/aluko-folarin-a358692b0/"
            target="_blank"
          >
            <img
              src="../assets/AboutPageAssets/linkedin-logo.png"
              alt="linkedIn"
              class="media-icons"
          /></a>
          <a href="https://twitter.com/Prominence1111" target="_blank">
            <img
              src="../assets/AboutPageAssets/X-logo.png"
              alt="x-logo"
              class="media-icons"
          /></a>
        </div>
      </div>
      <div class="profile-container">
        <img
          src="../assets/AboutPageAssets/Paul_img.jpeg"
          alt="Person Image"
          class="profile-image"
        />
        <p class="role">Back End Developer</p>
        <h4 class="name">Paul Afolabi</h4>
        <div class="social-media-container">
          <a href="https://github.com/api-sage" target="_blank">
            <img
              src="../assets/AboutPageAssets/git-logo.png"
              alt="git logo"
              class="media-icons"
            />
          </a>
          <a href="linkedin.com/in/paul-afolabi-1a2238169" target="_blank">
            <img
              src="../assets/AboutPageAssets/linkedin-logo.png"
              alt="linkedIn"
              class="media-icons"
          /></a>
          <a href="https://twitter.com/" target="_blank">
            <img
              src="../assets/AboutPageAssets/X-logo.png"
              alt="x-logo"
              class="media-icons"
          /></a>
        </div>
      </div>
      <div class="profile-container">
        <img
          src="../assets/AboutPageAssets/Oluchi_img.jpeg"
          alt="Person Image"
          class="profile-image"
        />
        <p class="role">Project Manager</p>
        <h4 class="name">Oluchi Alika</h4>
        <div class="social-media-container">
          <a href="https://github.com/Lucheee" target="_blank">
            <img
              src="../assets/AboutPageAssets/git-logo.png"
              alt="git logo"
              class="media-icons"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/alika-oluchi-7a9093241"
            target="_blank"
          >
            <img
              src="../assets/AboutPageAssets/linkedin-logo.png"
              alt="linkedIn"
              class="media-icons"
          /></a>
          <a href="https://x.com/alikaoluchi" target="_blank">
            <img
              src="../assets/AboutPageAssets/X-logo.png"
              alt="x-logo"
              class="media-icons"
          /></a>
        </div>
      </div>
      <div class="profile-container">
        <img
          src="../assets/AboutPageAssets/Nathanael_img.jpg"
          alt="Person Image"
          class="profile-image"
        />
        <p class="role">Front End Developer</p>
        <h4 class="name">Nathanael Ehimze</h4>
        <div class="social-media-container">
          <a href="https://github.com/ehimze007/">
            <img
              src="../assets/AboutPageAssets/git-logo.png"
              alt="git logo"
              class="media-icons"
            />
          </a>
          <a href="https://www.linkedin.com/in/ehimzenathanael/">
            <img
              src="../assets/AboutPageAssets/linkedin-logo.png"
              alt="linkedIn"
              class="media-icons"
          /></a>
          <a href="https://twitter.com/ehimze007">
            <img
              src="../assets/AboutPageAssets/X-logo.png"
              alt="x-logo"
              class="media-icons"
          /></a>
        </div>
      </div>
      <div class="profile-container">
        <img
          src="../assets/AboutPageAssets/Amobi_img.jpeg"
          alt="Person Image"
          class="profile-image"
        />
        <p class="role">Front End Developer</p>
        <h4 class="name">Amobi Michael</h4>
        <div class="social-media-container">
          <a href="https://github.com/KachyBiggs" target="_blank">
            <img
              src="../assets/AboutPageAssets/git-logo.png"
              alt="git logo"
              class="media-icons"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/amobi-michael-08a6bb169/
          "
            target="_blank"
          >
            <img
              src="../assets/AboutPageAssets/linkedin-logo.png"
              alt="linkedIn"
              class="media-icons"
          /></a>
          <a
            href="https://twitter.com/Biggs_java
          "
            target="_blank"
          >
            <img
              src="../assets/AboutPageAssets/X-logo.png"
              alt="x-logo"
              class="media-icons"
          /></a>
        </div>
      </div>
      <div class="profile-container">
        <img
          src="../assets/AboutPageAssets/Idowu_img.jpeg"
          alt="Person Image"
          class="profile-image"
        />
        <p class="role">Front End Developer</p>
        <h4 class="name">Idowu Adeyinka</h4>
        <div class="social-media-container">
          <a href="https://github.com/idowu007" target="_blank">
            <img
              src="../assets/AboutPageAssets/git-logo.png"
              alt="git logo"
              class="media-icons"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/idowu-adeyinka-222719195/"
            target="_blank"
          >
            <img
              src="../assets/AboutPageAssets/linkedin-logo.png"
              alt="linkedIn"
              class="media-icons"
          /></a>
          <a href="https://twitter.com/Eyede007" target="_blank">
            <img
              src="../assets/AboutPageAssets/X-logo.png"
              alt="x-logo"
              class="media-icons"
          /></a>
        </div>
      </div>
      <div class="profile-container">
        <img
          src="../assets/AboutPageAssets/Musty_img.jpeg"
          alt="Person Image"
          class="profile-image"
        />
        <p class="role">Front End Developer</p>
        <h4 class="name">Mustapha Suleiman</h4>
        <div class="social-media-container">
          <a href="https://github.com/mastermusty" target="_blank">
            <img
              src="../assets/AboutPageAssets/git-logo.png"
              alt="git logo"
              class="media-icons"
            />
          </a>
          <a
            href="www.linkedin.com/in/mustapha-suleiman-8805221a4"
            target="_blank"
          >
            <img
              src="../assets/AboutPageAssets/linkedin-logo.png"
              alt="linkedIn"
              class="media-icons"
          /></a>
          <a href="https://x.com/suleimamusty" target="_blank">
            <img
              src="../assets/AboutPageAssets/X-logo.png"
              alt="x-logo"
              class="media-icons"
          /></a>
        </div>
      </div>
    </div>
  </section>
</div>
