<app-nav-bar />

<div class="sections-parent">
  <section class="upper-section">
    <div class="get-started">
      <h2 class="eligibility">
        <span>At CRAS,</span> we believe in making lending smarter, safer, and more transparent. Our mission is to provide accurate credit assessments to financial institutions, enabling them to minimize risk while helping deserving applicants access the credit they need.
      </h2>
      <button>
        <a
          routerLink="/create-account"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="bg-green-800 rounded-[20px] text-white text-xl font-medium px-5 py-2"
          >Get Started</a
        >
      </button>
    </div>

    <div class="reason-why-container">
      <div class="reason-why">
        <h3>The Why..</h3>
        <p>
          Navigating the world of loans can be daunting, and financial decisions have a lasting impact. At the heart of our mission is a commitment to helping individuals make informed choices about their financial future. Our system is designed to provide a comprehensive evaluation of creditworthiness, ensuring you have the knowledge needed to secure the right financial support without unnecessary stress hereby demystifying the lending process. By providing fair evaluations, we contribute to a more inclusive financial ecosystem.
        </p>
      </div>
    </div>
  </section>

  <section class="lower-section">
    <h3>The How...</h3>
    <p>
      CRAS is more than just a credit scoring system, it's a commitment to accuracy and reliability by leveraging on cutting-edge machine learning algorithms to evaluate loan applicants’ creditworthiness, we ensure precise assessments, empowering banks to make lending decisions with confidence. We analyze a comprehensive set of financial factors, including:
    </p>

    <div class="hows-section">
      <div class="save-n-plan">
        <img
          src="../assets/AboutPageAssets/note-add-outline-rounded.png"
          alt="outline rounded"
        />
        <h4>Credit History</h4>
        <p>
          We delve into an applicant’s credit history, assessing their payment behavior and overall credit health.
        </p>
      </div>

      <div class="track-n-budget">
        <img
          src="../assets/AboutPageAssets/edit-note-rounded.png"
          alt="edit-note"
        />
        <h4>Income level</h4>
        <p>
          Understanding an applicant’s income helps us gauge their ability to repay loans.
        </p>
      </div>
    </div>

    <h3>The Who...</h3>
    <p>We are a group of dedicated individuals who came together with a shared vision of transforming the lending landscape. Our team, the architects behind the Credit Scoring and Risk Assessment System, comprises diverse expertise in finance, technology, and data science, we bring a collective passion for innovation and precision to the forefront. Meet the individuals driving the evolution of credit scoring:</p>

    <div class="profile-container-parent">
      <div class="profile-container">
        <img
          src="../assets/AboutPageAssets/Aluko_img.jpg"
          alt="Person Image"
          class="profile-image"
        />
        <p class="role">Back End Developer</p>
        <h4 class="name">Folarin Aluko</h4>
        <div class="social-media-container">
          <a href="https://github.com/ProminenceFM" target="_blank">
            <img
              src="../assets/AboutPageAssets/git-logo.png"
              alt="git logo"
              class="media-icons"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/aluko-folarin-a358692b0/"
            target="_blank"
          >
            <img
              src="../assets/AboutPageAssets/linkedin-logo.png"
              alt="linkedIn"
              class="media-icons"
          /></a>
          <a href="https://twitter.com/Prominence1111" target="_blank">
            <img
              src="../assets/AboutPageAssets/X-logo.png"
              alt="x-logo"
              class="media-icons"
          /></a>
        </div>
      </div>
      <div class="profile-container">
        <img
          src="../assets/AboutPageAssets/Paul_img.jpeg"
          alt="Person Image"
          class="profile-image"
        />
        <p class="role">Back End Developer</p>
        <h4 class="name">Paul Afolabi</h4>
        <div class="social-media-container">
          <a href="https://github.com/api-sage" target="_blank">
            <img
              src="../assets/AboutPageAssets/git-logo.png"
              alt="git logo"
              class="media-icons"
            />
          </a>
          <a
            href="https://linkedin.com/in/paul-afolabi-1a2238169"
            target="_blank"
          >
            <img
              src="../assets/AboutPageAssets/linkedin-logo.png"
              alt="linkedIn"
              class="media-icons"
          /></a>
          <a href="https://twitter.com/" target="_blank">
            <img
              src="../assets/AboutPageAssets/X-logo.png"
              alt="x-logo"
              class="media-icons"
          /></a>
        </div>
      </div>
      <div class="profile-container">
        <img
          src="../assets/AboutPageAssets/Oluchi_img.jpeg"
          alt="Person Image"
          class="profile-image"
        />
        <p class="role">Project Manager</p>
        <h4 class="name">Oluchi Alika</h4>
        <div class="social-media-container">
          <a href="https://github.com/Lucheee" target="_blank">
            <img
              src="../assets/AboutPageAssets/git-logo.png"
              alt="git logo"
              class="media-icons"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/alika-oluchi-7a9093241"
            target="_blank"
          >
            <img
              src="../assets/AboutPageAssets/linkedin-logo.png"
              alt="linkedIn"
              class="media-icons"
          /></a>
          <a href="https://x.com/alikaoluchi" target="_blank">
            <img
              src="../assets/AboutPageAssets/X-logo.png"
              alt="x-logo"
              class="media-icons"
          /></a>
        </div>
      </div>
      <div class="profile-container">
        <img
          src="../assets/AboutPageAssets/Nathanael_img.jpg"
          alt="Person Image"
          class="profile-image"
        />
        <p class="role">Front End Developer</p>
        <h4 class="name">Nathanael Ehimze</h4>
        <div class="social-media-container">
          <a href="https://github.com/ehimze007/">
            <img
              src="../assets/AboutPageAssets/git-logo.png"
              alt="git logo"
              class="media-icons"
            />
          </a>
          <a href="https://www.linkedin.com/in/ehimzenathanael/">
            <img
              src="../assets/AboutPageAssets/linkedin-logo.png"
              alt="linkedIn"
              class="media-icons"
          /></a>
          <a href="https://twitter.com/ehimze007">
            <img
              src="../assets/AboutPageAssets/X-logo.png"
              alt="x-logo"
              class="media-icons"
          /></a>
        </div>
      </div>
      <div class="profile-container">
        <img
          src="../assets/AboutPageAssets/Amobi_img.jpeg"
          alt="Person Image"
          class="profile-image"
        />
        <p class="role">Front End Developer</p>
        <h4 class="name">Amobi Onyedikachi</h4>
        <div class="social-media-container">
          <a href="https://github.com/KachyBiggs" target="_blank">
            <img
              src="../assets/AboutPageAssets/git-logo.png"
              alt="git logo"
              class="media-icons"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/amobi-michael-08a6bb169/
          "
            target="_blank"
          >
            <img
              src="../assets/AboutPageAssets/linkedin-logo.png"
              alt="linkedIn"
              class="media-icons"
          /></a>
          <a
            href="https://twitter.com/Console_kachy
          "
            target="_blank"
          >
            <img
              src="../assets/AboutPageAssets/X-logo.png"
              alt="x-logo"
              class="media-icons"
          /></a>
        </div>
      </div>
      <div class="profile-container">
        <img
          src="../assets/AboutPageAssets/Idowu_img.jpeg"
          alt="Person Image"
          class="profile-image"
        />
        <p class="role">Front End Developer</p>
        <h4 class="name">Idowu Adeyinka</h4>
        <div class="social-media-container">
          <a href="https://github.com/idowu007" target="_blank">
            <img
              src="../assets/AboutPageAssets/git-logo.png"
              alt="git logo"
              class="media-icons"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/idowu-adeyinka-222719195/"
            target="_blank"
          >
            <img
              src="../assets/AboutPageAssets/linkedin-logo.png"
              alt="linkedIn"
              class="media-icons"
          /></a>
          <a href="https://twitter.com/Eyede007" target="_blank">
            <img
              src="../assets/AboutPageAssets/X-logo.png"
              alt="x-logo"
              class="media-icons"
          /></a>
        </div>
      </div>
      <div class="profile-container">
        <img
          src="../assets/AboutPageAssets/Musty_img.jpeg"
          alt="Person Image"
          class="profile-image"
        />
        <p class="role">Front End Developer</p>
        <h4 class="name">Mustapha Suleiman</h4>
        <div class="social-media-container">
          <a href="https://github.com/mastermusty" target="_blank">
            <img
              src="../assets/AboutPageAssets/git-logo.png"
              alt="git logo"
              class="media-icons"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/mustapha-suleiman-8805221a4"
            target="_blank"
          >
            <img
              src="../assets/AboutPageAssets/linkedin-logo.png"
              alt="linkedIn"
              class="media-icons"
          /></a>
          <a href="https://x.com/suleimamusty" target="_blank">
            <img
              src="../assets/AboutPageAssets/X-logo.png"
              alt="x-logo"
              class="media-icons"
          /></a>
        </div>
      </div>
    </div>
  </section>
</div>
