/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* .container {
  max-width: 1440px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0 2rem;
} */

li {
  list-style: none;
}


@media screen  and (max-width: 600px) {
  .container {
    max-width: 1440px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0 2rem;
  }
}
